@import '../../utils/_vars';

.form {
  width: 708px;
  margin: 0 auto 47px;
  background-color: #d9d9d9;
  border-radius: 15px;

  &__container {
    width: 686px;
    margin: 0 auto;
    padding: 10px 0 15px;
  }

  &__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.22;
    margin: 0 0 11px;
  }

  &__table {
    padding: 0;
  }

  &__table-data {
    padding: 0 10px 10px 0;

    &_invisible-ending {
      max-width: 250px;
      white-space: nowrap; /* Запрет переноса текста */
      overflow: hidden; /* Скрытие текста, который не помещается */
      text-overflow: ellipsis; /* Замена непоместившегося текста на многоточие */
    }
  }

  &__template {
    display: flex;
    justify-content: space-between;
    column-gap: 17px;
  }

  &__fieldset {
    width: 401px;
    height: 68px;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  &__label {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #222222;
    border-radius: 15px;

    &_error {
      border: 2px solid #ff4062;
    }
  }

  &__input {
    @extend %input-style;

    text-align: left;
    padding-left: 16px;
    box-sizing: border-box;

    &::placeholder {
      @extend %input-style;

      text-align: left;
    }
  }

  &__button {
    width: 268px;
    cursor: pointer;
    @extend %button-style;

    &_error {
      opacity: 0.6;
      pointer-events: none;
      color: #eee;
    }

    &:hover {
      opacity: 0.6;
    }
  }

  &__error-text {
    width: 100%;
    min-height: 20px;
    display: block;
    color: #ff4062;
    font-size: 16px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 800px) {
  .form {
    width: 100%;
    margin: 0 0 45px;
    gap: 9px;

    &__container {
      width: 93%;
    }

    &__template {
      flex-direction: column;
    }

    &__fieldset {
      width: 100%;
      margin-bottom: 9px;
    }

    &__input {
      height: 68px;
      padding-left: 9px;
    }

    &__title {
      text-align: center;
    }

    &__button {
      width: 100%;
    }

    &__table-data_invisible-ending {
      max-width: 176px;
    }
  }
}
