@import '../../utils/_vars';

.input-count {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__button {
    width: 68px;
    @extend %button-style;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  &__label {
    display: block;
    width: 128px;
    @extend %button-style;
  }

  &__field {
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    border-radius: 15px;
    background-color: #222;
    @extend %input-style;

    &::placeholder {
      @extend %input-style;
    }
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
  appearance: none;
  -moz-appearance: textfield;
}
